@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P";
  font-size: 75px;
  color: white;
}

body {
  background-color: rgb(10, 10, 10);
}

.clock {
  display: flex;
  width: 100%;
  margin-top: 15%;
  justify-content: center; /* Делаем эллменты по центру (display: flex) */
}

.clock > div {
  text-shadow: 1px 5px 1px rgb(240, 153, 168);
  user-select: none; /* Уберает выделение */
}

.day,
.pm-am {
  padding: 0 18px;
  font-size: 55px;
}

p {
  margin-top: 35px;
  text-align: center;
  font-size: 20px;
}
