@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");

/* Убераем начальные отступы и добавляем новый шрифт */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/* Распологаем элменты body по центру, делаем минимальную высоту экрана 100vh */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(240, 167, 59);
}

.container {
  background: #fff;
  width: 450px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.25);
  border-radius: 7px;
}

.container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px 10px; /* Делаем внутрение отступы  */
}

header .current-date {
  font-size: 1.4rem;
  font-weight: 500;
}

header .icons span {
  height: 38px;
  width: 38px;
  color: rgb(90, 90, 92);
  font-size: 1.85rem;
  margin: 0 1px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  cursor: pointer;
}

header .icons span:hover {
  background: rgba(206, 208, 209, 0.25);
}

header .icons span:last-child {
  margin-right: -10px;
}

.calendar {
  padding: 20px;
}

.calendar ul {
  display: flex;
  list-style: none; /* Убераем стили списка ul */
  flex-wrap: wrap; /* Добавляем перенос строк */
  text-align: center;
}

.calendar .weeks {
  font-weight: 500;
}

.calendar .days {
  padding-bottom: 25px;
}

.calendar .days li {
  z-index: 1;
  margin-top: 35px;
  cursor: pointer;
}

.days li.inactive-data {
  color: rgb(175, 175, 175);
}

.days li.active-data {
  color: #fff;
}

.calendar ul li {
  position: relative;
  width: calc(100% / 7);
}

.calendar .days li::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li:hover::before {
  background-color: rgba(206, 208, 209, 0.25);
}

.days li.active-data::before {
  background-color: rgb(236, 154, 30);
}
